<h1> Dashboard! </h1>
<p> Count of jobs by level of interest: </p>
  <ul>
  <% level_of_interest = @jobs.by_level_of_interest%>
  <% level_of_interest.each do |k , v| %>
    <li> Level of Interest: <%= k %> </li>
    <li> Count: <%= v %> </li>
  <% end %>
</ul>
<p> Top 3 Companies by level of interest: </p>
  <ul>
  <% top_companies= @companies.top_companies_by_level_of_interest%>
  <% top_companies.each do |company| %>
    <li> Company: <%= company.name %> </li>
    <li> Average Level of Interest: <%= company.average %> </li>
  <% end %>
</ul>
<p> Count of Jobs by Location: </p>
  <ul>
  <% location = @jobs.by_location%>
  <% location.each do |k, v| %>
    <li> City: <%= k %> </li>
    <li> Count: <%= v %> </li>
  <% end %>
</ul>
