<h1> Dashboard! </h1>
<div class="container-fluid">
<h3> Count of jobs by level of interest: </h3>
  <% level_of_interest = @jobs.by_level_of_interest%>
  <% level_of_interest.each do |k , v| %>
  <p> Level of Interest of <strong><%= k %> </strong> with a count of <%= v %> </p>
  <% end %>

<h3> Top 3 Companies by level of interest: </h3>

  <% top_companies= @companies.top_companies_by_level_of_interest%>
  <% top_companies.each do |company| %>
    <p> Company:<strong> <%= company.name %> </strong> Average Level of Interest: <%= company.average %> </p>
  <% end %>

<h3> Count of Jobs by Location: </h3>
  <% location = @jobs.by_location%>
  <% location.each do |location, count| %>
  <p><%= link_to "#{location}", "/jobs?location=#{location}" %> Count: <%= count %> </p>
  <% end %>
</div>
