All Jobs for <strong><%= @company.name %></strong>

<% @jobs.each do |job| %>
  <ul class="jobs">
    <li><%= job.title %> at <%= job.company.name %></li>
   <li><%= link_to "Edit", edit_company_job_path(@company, job) %> </li>
   <li><%= link_to "Delete", company_job_path(@company, job), method: :delete %> </li>
   <li> <%= link_to "Add a Contact", new_company_contact_path(@company) %> </li>
 </ul>
<% end %>
