<h1>All Jobs for <strong><%= @company.name %></strong></h1>

<% @jobs.each do |job| %>
  <div class="jobs">
      <td><%= job.title %> at <%= job.company.name  %></td>
      <td><%= link_to "Edit", edit_company_job_path(@company, job), class: 'btn btn-success' %></td>
      <td><%= link_to "Delete", company_job_path(@company, job), method: "delete", class: 'btn btn-danger btn-sm' %></td>
    </div> <br>
<% end %>

<td><%= link_to "Add a Contact", new_company_contact_path(@company), class: 'btn btn-info'  %></p>

  <% @company.contacts.each do |contact| %>
    <div class="contact">
      <td><%= contact.full_name %> <%=contact.position %> <%=contact.email %></td>
    <% end %>
  </div>
