

<%= form_for [@company, @contact], class: "form-horizantal" do |f| %>
  <p>
    <%= f.label :full_name %><br/>
    <%= f.text_area :full_name %>
  </p>
  <p>
    <%= f.label :position %><br/>
    <%= f.text_area :position%>
  </p>
  <p>
    <%= f.label :email %><br/>
    <%= f.text_area :email %>
  </p>
  <p>
    <%= f.submit "Submit", id: "Submit", class: "btn btn-primary btn-block"  %>
  </p>
<% end %>
