<h1> Dashboard! </h1>
<p Count of jobs by level of interest:>
  <ul>
  <% @companies.each do |company| %>
  <% level_of_interest = company.jobs.group(:level_of_interest).count %>
  <% level_of_interest.each do |k , v| %>
    <li> Level of Interest: <%= k %> </li>
    <li> Count: <%= v %> </li>
  <% end %>
</ul>
</p>
<p Companies of jobs by top level of interest:>
  <ul>
  <% @companies.each do |company| %>
  <% top_companies = company.jobs.group(:level_of_interest).order("count_all" DESC).count.limit(3) %>
  <% top_companies.each do |k , v| %>
    <li> Company: <%= k %> </li>
    <li> Count: <%= v %> </li>
  <% end %>
</ul>
</p>
<p Count of Jobs by Location: >
  <ul>
  <% @companies.each do |company| %>
  <% jobs_by_location = company.jobs.group(:city).count %>
  <% jobs_by_location.each do |k , v| %>
    <li> City: <%= k %> </li>
    <li> Count: <%= v %> </li>
  <% end %>
</ul>
</p>
