<h1>All Categories</h1>
  <div class="row" >
    <% @categories.each do |category| %>
    <div class="well">
    <div class="category"<%= category.id %>>
    <td><%= link_to "#{category.title}", category_path(category), class: 'btn btn-primary btn-lg' %></td>
    <td><%= link_to "Edit", edit_category_path(category), class: 'btn btn-success btn-sm' %></td>
    <td><%= link_to "Delete", category_path(category), method: "delete", class: 'btn btn-danger btn-sm' %></td>
  </div> <br>
</div>
</div>
  <% end %>
</div>
<td><%= link_to "Add a New Category", new_category_path, class: 'btn btn-info' %></td>
